#container{
    background-color: red;
    width: 100px;
    height: 100px;
}

#container-b{
    background-color: rgb(48, 213, 59);
    width: 100px;
    height: 100px;
}

.hide{
    display: none;
}